body{
 	background-color:#d2d2e0;
 	font-size: 20;
 	font-family: Helvetica;
 	font-weight: lighter;
 	color: white;
 	width: 1000px;
 	margin: 0 auto;

 	}

@font-face{
	font-family: 'Josefin Slab', serif;
	src: url('https://fonts.googleapis.com/css?family=Josefin+Slab');
	font-family: 'Josefin Sans', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Josefin+Sans');
}
header{ 
	font-weight: bold;
	position: absolute;
	background-color: #29293d;
	width: 1000px;	
}


h1.header{
	font-size: 36;
	font-style: italic;
	padding: 12px;
	font-family: 'Josefin Slab', serif;

}


aside.ul {
	line-height: 2em;
	font-weight: bold;
	width:200px;
	height: 320px;
	padding: 20px;
	margin-top:160px;
	float: left;
	background-color: #29293d;
	font-size: 14px;
	font-family: 'Josefin Slab', serif;
	
}

aside li {
	margin: 0;
	list-style: none;
	overflow: hidden;
}


nav.navegation {
	font-weight: bold;
	width: 1000px;
	}

nav li {
	
	list-style-type: none;
	margin: 2px;
	padding: 10px;
	float: right;
	background-color: #29293d;
	font-size: 14px;
	font-family: 'Josefin Slab', serif;
}	

a{
	width: 50px;
	text-decoration:none;
	color:white;
}

a:hover {
	background-color: white;
	color:#29293d;
	padding: 5px;
}


.content {
	height: 380px;
	width: 650px;
	padding: 20px;
	background-color: #29293d;
	line-height: 1.5em;
	margin-top: 10px;
}

.content1{
	height: 275px;
	width: 650px;
	padding: 20px;
	background-color: #29293d;
	line-height: 1.5em;
}
 
p {
	line-height: 1.5em;
	text-align: justify;
	font-weight: lighter;
	font-size: 14px;
}

article{
	margin-top: 160px;
	float: right;	
	font-family: 'Josefin Sans', sans-serif;
}

h2{
	font-size: 24px;
}
footer {
	font-weight: bold;
	background-color: #29293d;
	width: 1000px;
	font-size: 20;
	position: relative;
	float: left;
	margin-top:20px;
	margin-bottom: 0; 
}

h6#footer{
	padding: 10px;
	font-family: 'Josefin Slab', serif;
}